<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Namicargo\Shipping\Model\NamicargoSendOrderToApiDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/NamicargoSendOrderToApi.log</argument>
         </arguments>
    </virtualType>
    <virtualType name="Namicargo\Shipping\Model\NamicargoSendOrderToApiLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Namicargo\Shipping\Model\NamicargoSendOrderToApiDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Namicargo\Shipping\Observer\SendOrderToApi">
        <arguments>
            <argument name="namiLogger" xsi:type="object">Namicargo\Shipping\Model\NamicargoSendOrderToApiLogger</argument>
        </arguments>
    </type>
    <virtualType name="Namicargo\Shipping\Model\NamicargoTransferCustomAttributeDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/NamicargoTransferCustomAttribute.log</argument>
         </arguments>
    </virtualType>
    <virtualType name="Namicargo\Shipping\Model\NamicargoTransferCustomAttributeLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Namicargo\Shipping\Model\NamicargoTransferCustomAttributeDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Namicargo\Shipping\Observer\TransferCustomAttributeObserver">
        <arguments>
            <argument name="namiLogger" xsi:type="object">Namicargo\Shipping\Model\NamicargoTransferCustomAttributeLogger</argument>
        </arguments>
    </type>
    <virtualType name="Namicargo\Shipping\Model\NamicargoCancelDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/NamicargoCancel.log</argument>
         </arguments>
    </virtualType>
    <virtualType name="Namicargo\Shipping\Model\NamicargoCancelLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Namicargo\Shipping\Model\NamicargoCancelDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Namicargo\Shipping\Observer\CancelOrderApiObserver">
        <arguments>
            <argument name="namiLogger" xsi:type="object">Namicargo\Shipping\Model\NamicargoCancelLogger</argument>
        </arguments>
    </type>
    <virtualType name="Namicargo\Shipping\Logger\NamicargoShipping\Debug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/NamicargoShipping.log</argument>
         </arguments>
    </virtualType>
    <virtualType name="Namicargo\Shipping\Logger\NamicargoShippingLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Namicargo\Shipping\Logger\NamicargoShipping\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Namicargo\Shipping\Service\ShippingApiService">
        <arguments>
            <argument name="namiLogger" xsi:type="object">Namicargo\Shipping\Logger\NamicargoShippingLogger</argument>
        </arguments>
    </type>
    <type name="Namicargo\Shipping\Model\Carrier\Customshipping">
        <arguments>
            <argument name="namiLogger" xsi:type="object">Namicargo\Shipping\Logger\NamicargoShippingLogger</argument>
        </arguments>
    </type>
</config>
